<section class="w-[90%] mx-auto m-10">
    <div class="flex">
        <div class="img w-[25%]">
            <img [src]="productData.imageCover" class="w-[100%]">
        </div>

        <div class="product-data w-[70%] mx-5">
            <h2 class="text-5xl font-serif font-bold my-10">{{productData.title}}</h2>
            <p class="text-slate-600 my-5">{{productData.description}}</p>
                <p class="font-bold m-2">{{productData.price}}$</p>
                <p class="font-bold m-2"><i class="fa-solid fa-star" style="color: #FFD43B;"></i>{{productData.ratingsAverage}}</p>
            <div class="flex h-60" >
                @for (img of productData.images; track $index) {
                    <div class="flex">
                        <img [src]="img" class="w-100">
                    </div>
                }
            </div>
            <button (click)="addToCart(productData.id)" class="w-[70%] my-5 text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Add to cart</button>

        </div>
        
    </div>

</section>