
<section class="w-[80%] mx-auto">
    <h2 class="text-4xl text-green-600 my-6 ms-16">Forget Password</h2>
    @if(step==1){
    <form [formGroup]="forgotpassword" (ngSubmit)="forget()" class="max-w-lg mx-auto p-5 w-[80%] ">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Enter email</label>
        <input formControlName="email" type="email" id="email" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" required />
        <button type="submit" class="main-btn my-5" >Next</button>
    </form>}

    @if(step==2){
    <form [formGroup]="verifyresetcode" (ngSubmit)="confirm()" class="max-w-lg mx-auto p-5 w-[80%] ">
        <label for="code" class="block mb-2 text-sm font-medium text-gray-900 ">Enter code</label>
        <input formControlName="resetCode" type="text" id="code" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" required />
        <button type="submit" class="main-btn my-5" >Next</button>
    </form>}

    @if(step==3){
    <form [formGroup]="resetpassword" (ngSubmit)="resetPassword()" class="max-w-lg mx-auto p-5 w-[80%] ">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Enter email</label>
        <input readonly formControlName="email" type="email" id="email" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" required />
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Enter new password</label>
        <input formControlName="newPassword" type="password" id="password" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" required />
        <button type="submit" class="main-btn my-5" >Next
          
                </button>
    </form>}
</section>